{{#projects}}
<div class="container">
    <a href="/projects/{{directory}}">{{title}}</a>
    <a href="/projects/{{directory}}"><img class="images" src="/{{directory}}/screenshot.png"></a>
</div>

{{/projects}}
