<!doctype html>
<html>
    {{> head}}
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Arimo|Hind|Oxygen|Poppins|Roboto|Roboto+Condensed" rel="stylesheet">
    <body>
        <!-- {{> header }} -->


        {{{body}}}

        <!-- {{> footer }} -->
    </body>
</html>
