<h1 id="summary-title">Welcome to my Static Portfolio</h1>
<div id="summary-projects">
    <p>Here are some of the static projects I made during my SPICED Academy bootcamp in Berlin.</p>
    {{> projects}}
</div>
